# Chapter 01: データについて

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/ch1_sport_test.csv', index_col='生徒番号')
df

      学年    握力  上体起こし  点数  順位
生徒番号
1      1  40.2     34  15   4
2      1  34.2     14   7  10
3      1  28.8     27  11   7
4      2  39.0     27  14   5
5      2  50.9     32  17   2
6      2  36.5     20   9   9
7      3  36.6     31  13   6
8      3  49.2     37  18   1
9      3  26.0     28  10   8
10     3  47.4     32  16   3

In [3]:
df['握力']

生徒番号
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 握力, dtype: float64

## 1.1　|　データの大きさ

In [4]:
# (データ数, 変数の数)
df.shape

(10, 5)

## 1.2　|　変数の種類

### 1.2.1　質的変数と量的変数

__質的変数__ は種類を区別する変数. 区別するものが 2 種類の値しか取らない場合は __2値変数__ と呼ばれることがある.

>例)  
> アンケートの満足度 ・ 血液型

__量的変数__ は量を表現する変数.

>例）  
> テストの点数 ・ 身長

### 1.2.2　尺度水準

質的変数には __名義尺度__ と __順序尺度__  
量的変数には __間隔尺度__ と __比例尺度__ がある. 

名義尺度 ・ 順序尺度 ・ 間隔尺度 ・ 比例尺度 の 4 つのことを __尺度水準__ という.

- __名義尺度__  
生徒番号や電話番号, 性別のような単に区別するためにある変数

- __順序尺度__  
順位やアンケートの満足度のような大小関係に意味のある変数

- __間隔尺度__  
西暦や温度のような大小関係と差に意味がある変数

- __比例尺度__  
長さや重さのような大小関係, 差, 比, に意味がある変数で, 0 は存在しないことを意味する

### 1.2.3　離散型変数と連続型変数

- __離散型変数__  
0, 1, 2, ... のようなとびとびの値をとる変数.

- __連続型変数__  
小数点を含むような値をとる変数.

連続型変数でも測定精度によってはとびとびの値になるので注意.